<%- incluide('./partials/head') %>
<h2>Crea un producto</h2>
<form action="/products" method="post">
    <label > Title:</label>
    <input name="title">
    <label > Price:</label>
    <input name="price">
    <label > Thumbnail:</label>
    <input name="Thumbnail">
    <button>Enviar</button>
</form>
<a href="/products" class="btn btn-success"> Ver los productos</a>
<%- incluide('./partials/footer') %>